@page "/demo-parser"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Forms
@inject IWebHostEnvironment env
<h3>File Upload</h3>
<InputFile OnChange="HandleFileSelected" multiple />
<button @onclick="ListUploadedFiles">List Uploaded Files</button>
<ul>
    @foreach (var file in uploadedFiles)
    {
        <li>@file</li>
    }
</ul>
@code {
    private List<string> uploadedFiles = new();
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            var filePath = Path.Combine(env.WebRootPath, "Upload", file.Name);
            using (var stream = new FileStream(filePath, FileMode.Create))
            {
                await file.OpenReadStream().CopyToAsync(stream);
            }
            uploadedFiles.Add(file.Name);
        }
    }
    private void ListUploadedFiles()
    {
        var uploadPath = Path.Combine(env.WebRootPath, "Upload");
        if (Directory.Exists(uploadPath))
        {
            var files = Directory.GetFiles(uploadPath);
            uploadedFiles = files.Select(file => Path.GetFileName(file)).ToList();
            foreach (var file in uploadedFiles)
            {
                Console.WriteLine(file);
            }
        }
    }
}